body {
  background-image: url("/assets/img/b1.jpg");
  height: 200vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.w-50 {
  width: 20% !important;
  position: absolute !important;
  top: 100px !important;
  border: 2px solid cadetblue !important;
  border-radius: 5px !important;
  left: 35%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  color: #495057;
}

.nav-tabs {
  background-color: #efa608;
  border-radius: 5px;
}

.nav-link {
  color: #fff;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.job-card-container {
  margin-top: 20px;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  background-color: #f4f4f0;
  box-shadow: 0 0 10px rgba(62, 7, 243, 0.1);
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}
