<body>
  <div class="container">
    <div *ngIf="!resetSuccess">
      <div class="form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" formControlName="newPassword" required>

          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" required>

          <div *ngIf="resetPasswordForm.hasError('passwordMismatch')">
            Passwords do not match.
          </div>

          <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
        </form>
      </div>
    </div>
    <div *ngIf="resetSuccess">
      <div class="successful">
        <p>Password reset successfully!</p>
        <button class="login-button" (click)="redirectToLogin()">Go to Login</button>
      </div>
    </div>
  </div>
</body>