#mainbox {
  background: url("https://plus.unsplash.com/premium_photo-1661662917928-b1a42a08d094?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100vh;
}

.container {
  max-width: 800px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.6;
}
