<div class="banner">
  <div class="content">
    <h1 class="mb-5">The Best Cleaning <br><br>Service</h1>

  </div>
</div>

<div class="container mt-5 mb-5">
  <h1 class="text-center">Ways to get &nbsp;<span class="highlight">Good Cleaning</span></h1>
  <div class="row mt-5">

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h3>SPARKLING CLEAN</h3>
        <p>We keep your home sparkling clean and germ free. Our disinfecting process kills 99% of common bacteria and
          viruses.</p>
      </div>
    </div>

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h3>LEADING TECHNOLOGIES</h3>
        <p>We use safe hospital-grade disinfectants, HEPA filtrations and microfiber cleaning cloths to reduce cross
          contamination.</p>
      </div>
    </div>

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h3>RELIABLE CREWS</h3>
        <p>Our reliable and stable crews understand your specific house and office clearning service needs and maintain
          hygiene</p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4 mb-4">
  <h1 class="text-center">Our Cleaning&nbsp;<span class="highlight">Services</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-3">
      <div class="companybox">
        <img src="/assets/img/card1.jpg" />
        <h1>Deep Cleaning</h1>
      </div>
    </div>
    <div class="col-lg-3 mt-3">
      <div class="companybox">
        <img src="/assets/img/card2.jpg" />
        <h1>Hostel Cleaning</h1>
      </div>
    </div>

    <div class="col-lg-3 mt-3">
      <div class="companybox">
        <img src="/assets/img/card3.jpg" />
        <h1>Commercial cleaning</h1>
      </div>
    </div>

    <div class="col-lg-3 mt-3">
      <div class="companybox">
        <img src="/assets/img/card4.jpg" />
        <h1>Office Cleaning</h1>
      </div>
    </div>
  </div>
  <a routerLink="login" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>